*{ 
  padding: 0;
  box-sizing: border-box;

    
}
#loadPost{
    padding: 30px;
    color: white;
    background-color: deepskyblue;
    font-size: 30px;
    border: none;
}

#card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 20px;
}
.card{
    padding: 20px;
    border: 1px solid wheat;
    font-size: 20px;
}
.card span{
   margin: 10px 0;
}






